a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Make link colors match parent element's text color */
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

.card {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    border: 2px solid white;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 40px;
    border-radius: 10px;
}

.pfp img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.introduction {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
}

.aboutme {
    padding-left: 20px;
    color: white;
}

.title {
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.socials {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 20px;
}

.youtube {
    flex-direction: column;
}

.github {
    flex-direction: column;
}

.twitter {
    flex-direction: column;
}