.main-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  max-width: 1450px;
  margin: 50px auto;
  margin-top: 100px;
}

.column {
  flex: 1;
  color: white;
  text-align: center;
}

.col-left {
  border: 3px solid rgb(255, 255, 255);
  padding-bottom: 300px;
  padding-top: 50px;
}

.mid {
  border: 3px solid rgb(255, 255, 255);
  padding-bottom: 60%;
  padding-top: 50px;
}

.col-right {
  border: 3px solid rgb(255, 255, 255);
  padding-bottom: 300px;
  padding-top: 15px;
}

.btn-socials {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 12px 24px;
  text-decoration: none;
  border: 2px solid #ffffff;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  width: 50%;
  margin-bottom: 15px;
  transition: transform 0.2s ease;
}

.yt-logo {
  width: 84px;
  height: 60px;
  padding: 5px 5px;
}

.x-logo {
  width: 60px;
  height: 60px;
  padding: 5px 5px;
}

.git-logo {
  width: 70px;
  height: 70px;
  padding: 5px 5px;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: black;
  overflow: auto;
}